# Exercise 1 -  Sakila Star Schema & ETL  

All the database tables in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://video.udacity-data.com/topher/2021/August/61120e06_pagila-3nf/pagila-3nf.png)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](https://video.udacity-data.com/topher/2021/August/61120d38_pagila-star/pagila-star.png)

# STEP0: Using ipython-sql

- Load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`


- Running a connection string like:
`postgresql://postgres:postgres@db:5432/pagila` connects to the database

# STEP1 : Connect to the local database where Pagila is loaded

##  1.1 Create the pagila db and fill it with data
- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the `createdb` and `psql` postgresql commmand-line utilities

In [2]:
!PGPASSWORD= createdb -h 127.0.0.1 -U huyenvtk1 pagila
!PGPASSWORD= psql -q -h 127.0.0.1 -U huyenvtk1 -d pagila -f Data/pagila-schema.sql
!PGPASSWORD= psql -q -h 127.0.0.1 -U huyenvtk1 -d pagila -f Data/pagila-data.sql

createdb: error: database creation failed: ERROR:  database "pagila" already exists
psql:Data/pagila-schema.sql:43: ERROR:  type "mpaa_rating" already exists
psql:Data/pagila-schema.sql:46: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:53: ERROR:  type "year" already exists
psql:Data/pagila-schema.sql:56: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:70: ERROR:  function "_group_concat" already exists with same argument types
psql:Data/pagila-schema.sql:73: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:87: ERROR:  function "film_in_stock" already exists with same argument types
psql:Data/pagila-schema.sql:90: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:104: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:Data/pagila-schema.sql:107: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:149: ERROR:  function "get_customer_balance" already exists with same argument types
psql:Data/pagila-schema.sql:152: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:171: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:Data/pagila-schema.sql:174: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:208: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:Data/pagila-schema.sql:211: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:226: ERROR:  function "last_day" already exists with same argument types
psql:Data/pagila-schema.sql:229: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:241: ERROR:  function "last_updated" already exists with same argument types
psql:Data/pagila-schema.sql:244: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:255: ERROR:  relation "customer_customer_id_seq" already exists
psql:Data/pagila-schema.sql:258: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:279: ERROR:  relation "customer" already exists
psql:Data/pagila-schema.sql:282: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:343: ERROR:  function "rewards_report" already exists with same argument types
psql:Data/pagila-schema.sql:346: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:355: ERROR:  function "group_concat" already exists with same argument types
psql:Data/pagila-schema.sql:358: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:369: ERROR:  relation "actor_actor_id_seq" already exists
psql:Data/pagila-schema.sql:372: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:383: ERROR:  relation "actor" already exists
psql:Data/pagila-schema.sql:386: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:397: ERROR:  relation "category_category_id_seq" already exists
psql:Data/pagila-schema.sql:400: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:410: ERROR:  relation "category" already exists
psql:Data/pagila-schema.sql:413: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:424: ERROR:  relation "film_film_id_seq" already exists
psql:Data/pagila-schema.sql:427: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:448: ERROR:  relation "film" already exists
psql:Data/pagila-schema.sql:451: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:461: ERROR:  relation "film_actor" already exists
psql:Data/pagila-schema.sql:464: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:474: ERROR:  relation "film_category" already exists
psql:Data/pagila-schema.sql:477: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:497: ERROR:  relation "actor_info" already exists
psql:Data/pagila-schema.sql:500: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:511: ERROR:  relation "address_address_id_seq" already exists
psql:Data/pagila-schema.sql:514: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:529: ERROR:  relation "address" already exists
psql:Data/pagila-schema.sql:532: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:543: ERROR:  relation "city_city_id_seq" already exists
psql:Data/pagila-schema.sql:546: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:557: ERROR:  relation "city" already exists
psql:Data/pagila-schema.sql:560: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:571: ERROR:  relation "country_country_id_seq" already exists
psql:Data/pagila-schema.sql:574: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:584: ERROR:  relation "country" already exists
psql:Data/pagila-schema.sql:587: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:609: ERROR:  relation "customer_list" already exists
psql:Data/pagila-schema.sql:612: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:632: ERROR:  relation "film_list" already exists
psql:Data/pagila-schema.sql:635: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:646: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:Data/pagila-schema.sql:649: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:660: ERROR:  relation "inventory" already exists
psql:Data/pagila-schema.sql:663: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:674: ERROR:  relation "language_language_id_seq" already exists
psql:Data/pagila-schema.sql:677: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:687: ERROR:  relation "language" already exists
psql:Data/pagila-schema.sql:690: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:710: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:Data/pagila-schema.sql:713: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:724: ERROR:  relation "payment_payment_id_seq" already exists
psql:Data/pagila-schema.sql:727: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:740: ERROR:  relation "payment" already exists
psql:Data/pagila-schema.sql:742: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:751: ERROR:  relation "rental_rental_id_seq" already exists
psql:Data/pagila-schema.sql:754: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:768: ERROR:  relation "rental" already exists
psql:Data/pagila-schema.sql:771: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:787: ERROR:  relation "sales_by_film_category" already exists
psql:Data/pagila-schema.sql:790: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:801: ERROR:  relation "staff_staff_id_seq" already exists
psql:Data/pagila-schema.sql:804: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:822: ERROR:  relation "staff" already exists
psql:Data/pagila-schema.sql:825: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:836: ERROR:  relation "store_store_id_seq" already exists
psql:Data/pagila-schema.sql:839: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:850: ERROR:  relation "store" already exists
psql:Data/pagila-schema.sql:853: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:872: ERROR:  relation "sales_by_store" already exists
psql:Data/pagila-schema.sql:875: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:893: ERROR:  relation "staff_list" already exists
psql:Data/pagila-schema.sql:896: ERROR:  role "postgres" does not exist
psql:Data/pagila-schema.sql:903: ERROR:  multiple primary keys for table "actor" are not allowed
psql:Data/pagila-schema.sql:911: ERROR:  multiple primary keys for table "address" are not allowed
psql:Data/pagila-schema.sql:919: ERROR:  multiple primary keys for table "category" are not allowed
psql:Data/pagila-schema.sql:927: ERROR:  multiple primary keys for table "city" are not allowed
psql:Data/pagila-schema.sql:935: ERROR:  multiple primary keys for table "country" are not allowed
psql:Data/pagila-schema.sql:944: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:Data/pagila-schema.sql:952: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:Data/pagila-schema.sql:960: ERROR:  multiple primary keys for table "film" are not allowed
psql:Data/pagila-schema.sql:968: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:Data/pagila-schema.sql:976: ERROR:  multiple primary keys for table "language" are not allowed
psql:Data/pagila-schema.sql:984: ERROR:  multiple primary keys for table "rental" are not allowed
psql:Data/pagila-schema.sql:992: ERROR:  multiple primary keys for table "staff" are not allowed
psql:Data/pagila-schema.sql:1000: ERROR:  multiple primary keys for table "store" are not allowed
psql:Data/pagila-schema.sql:1007: ERROR:  relation "film_fulltext_idx" already exists
psql:Data/pagila-schema.sql:1014: ERROR:  relation "idx_actor_last_name" already exists
psql:Data/pagila-schema.sql:1021: ERROR:  relation "idx_fk_address_id" already exists
psql:Data/pagila-schema.sql:1028: ERROR:  relation "idx_fk_city_id" already exists
psql:Data/pagila-schema.sql:1035: ERROR:  relation "idx_fk_country_id" already exists
psql:Data/pagila-schema.sql:1042: ERROR:  relation "idx_fk_customer_id" already exists
psql:Data/pagila-schema.sql:1049: ERROR:  relation "idx_fk_film_id" already exists
psql:Data/pagila-schema.sql:1056: ERROR:  relation "idx_fk_inventory_id" already exists
psql:Data/pagila-schema.sql:1063: ERROR:  relation "idx_fk_language_id" already exists
psql:Data/pagila-schema.sql:1070: ERROR:  relation "idx_fk_original_language_id" already exists
psql:Data/pagila-schema.sql:1077: ERROR:  relation "idx_fk_payment_customer_id" already exists
psql:Data/pagila-schema.sql:1083: ERROR:  relation "idx_fk_payment_staff_id" already exists
psql:Data/pagila-schema.sql:1092: ERROR:  relation "idx_fk_store_id" already exists
psql:Data/pagila-schema.sql:1099: ERROR:  relation "idx_last_name" already exists
psql:Data/pagila-schema.sql:1106: ERROR:  relation "idx_store_id_film_id" already exists
psql:Data/pagila-schema.sql:1113: ERROR:  relation "idx_title" already exists
psql:Data/pagila-schema.sql:1120: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:Data/pagila-schema.sql:1127: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:Data/pagila-schema.sql:1133: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:Data/pagila-schema.sql:1140: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:Data/pagila-schema.sql:1147: ERROR:  trigger "last_updated" for relation "address" already exists
psql:Data/pagila-schema.sql:1154: ERROR:  trigger "last_updated" for relation "category" already exists
psql:Data/pagila-schema.sql:1161: ERROR:  trigger "last_updated" for relation "city" already exists
psql:Data/pagila-schema.sql:1168: ERROR:  trigger "last_updated" for relation "country" already exists
psql:Data/pagila-schema.sql:1175: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:Data/pagila-schema.sql:1182: ERROR:  trigger "last_updated" for relation "film" already exists
psql:Data/pagila-schema.sql:1189: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:Data/pagila-schema.sql:1196: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:Data/pagila-schema.sql:1203: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:Data/pagila-schema.sql:1210: ERROR:  trigger "last_updated" for relation "language" already exists
psql:Data/pagila-schema.sql:1217: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:Data/pagila-schema.sql:1224: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:Data/pagila-schema.sql:1231: ERROR:  trigger "last_updated" for relation "store" already exists
psql:Data/pagila-schema.sql:1239: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:Data/pagila-schema.sql:1247: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:Data/pagila-schema.sql:1255: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:Data/pagila-schema.sql:1263: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:Data/pagila-schema.sql:1271: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-schema.sql:1279: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-schema.sql:1287: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:Data/pagila-schema.sql:1295: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:Data/pagila-schema.sql:1303: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:Data/pagila-schema.sql:1311: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:Data/pagila-schema.sql:1319: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:Data/pagila-schema.sql:1327: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:Data/pagila-schema.sql:1334: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:Data/pagila-schema.sql:1342: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:Data/pagila-schema.sql:1350: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:Data/pagila-schema.sql:1358: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:Data/pagila-schema.sql:1366: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:Data/pagila-schema.sql:1374: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists
psql:Data/pagila-schema.sql:1384: ERROR:  constraint "payment_customer_id_fkey" for relation "payment" already exists
psql:Data/pagila-data.sql:224: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
psql:Data/pagila-data.sql:341: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
psql:Data/pagila-data.sql:949: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
psql:Data/pagila-data.sql:1560: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
psql:Data/pagila-data.sql:1584: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
psql:Data/pagila-data.sql:1594: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
psql:Data/pagila-data.sql:2201: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
psql:Data/pagila-data.sql:2215: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
psql:Data/pagila-data.sql:3223: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:Data/pagila-data.sql:8693: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:Data/pagila-data.sql:9701: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
psql:Data/pagila-data.sql:14290: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
psql:Data/pagila-data.sql:14300: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
psql:Data/pagila-data.sql:30352: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
      2
(1 row)

 setval
--------
      2
(1 row)

## 1.2 Connect to the newly created db

In [3]:
%load_ext sql

In [4]:
DB_ENDPOINT = "127.0.0.1"
DB = 'pagila'
DB_USER = 'huyenvtk1'
DB_PASSWORD = ''
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://huyenvtk1:@127.0.0.1:5432/pagila

In [5]:
%sql $conn_string

'Connected: huyenvtk1@pagila'

# STEP2 : Explore the  3NF Schema

<img src="./pagila-3nf.png" width="50%"/>

## 2.1 How much? What data sizes are we looking at?

In [6]:
nStores = %sql select count(*) from store;
nFilms = %sql select count(*) from film;
nCustomers = %sql select count(*) from customer;
nRentals = %sql select count(*) from rental;
nPayment = %sql select count(*) from payment;
nStaff = %sql select count(*) from staff;
nCity = %sql select count(*) from city;
nCountry = %sql select count(*) from country;

print("nFilms\t\t=", nFilms[0][0])
print("nCustomers\t=", nCustomers[0][0])
print("nRentals\t=", nRentals[0][0])
print("nPayment\t=", nPayment[0][0])
print("nStaff\t\t=", nStaff[0][0])
print("nStores\t\t=", nStores[0][0])
print("nCities\t\t=", nCity[0][0])
print("nCountry\t\t=", nCountry[0][0])

 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.
nFilms		= 1000
nCustomers	= 599
nRentals	= 16044
nPayment	= 48147
nStaff		= 2
nStores		= 2
nCities		= 600
nCountry		= 109

## 2.2 When? What time period are we talking about?

In [7]:
%%sql 
select min(payment_date) as start, max(payment_date) as end from payment;

 * postgresql://huyenvtk1:***@127.0.0.1:5432/pagila
1 rows affected.

[(datetime.datetime(2017, 1, 24, 21, 21, 56, 996577, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), datetime.datetime(2017, 5, 14, 13, 44, 29, 996577, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))))]

## 2.3 Where? Where do events in this database occur?
TODO: Write a query that displays the number of addresses by district in the address table. Limit the table to the top 10 districts. Your results should match the table below.

In [ ]:
%%sql
select #write code here
from #write code here

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>district</th>
        <th>n</th>
    </tr>
    <tr>
        <td>Buenos Aires</td>
        <td>10</td>
    </tr>
    <tr>
        <td>California</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Shandong</td>
        <td>9</td>
    </tr>
    <tr>
        <td>West Bengali</td>
        <td>9</td>
    </tr>
    <tr>
        <td>So Paulo</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Uttar Pradesh</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Maharashtra</td>
        <td>7</td>
    </tr>
    <tr>
        <td>England</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Southern Tagalog</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Punjab</td>
        <td>5</td>
    </tr>
</tbody></table></div>